


# If-else-elif
```
if logic:
    True_block
else:
    False_block
```

## comprehensive if-else
```
True_block if logic else False_block
```
* if
* if-else
* if-elif-else

In [1]:
if True:
    print("Pakistan zinda bad")
else:
    print("Hello world!")

Pakistan zinda bad

In [2]:
if False:
    print("Pakistan zinda bad")
else:
    print("Hello world!")

Hello world!

In [3]:
#     True_block               logic           False_block
print("Pakistan zinda bad") if False else print("Hello world!")

Hello world!

In [4]:
print("Pakistan zinda bad") if True else print("Hello world!")

Pakistan zinda bad

# comparison operators
* ==
* `>=`
* <=
* !=
## logic
* and 
* or
* not

In [7]:
if True:
    print("True Pakistan block")

print("1")
print("2")

True Pakistan block
1
2

In [8]:
if False:
    print("True Pakistan block")

print("1")
print("2")

1
2

In [9]:
if True:
    print("True_block")
elif False:
    print("elif logic1")
elif False:
    print("elif logic2")
elif False:
    print("elif logic3")
else:
    print("final else block")

True_block

In [10]:
if False:
    print("True_block")
elif True:
    print("elif logic1")
elif False:
    print("elif logic2")
elif False:
    print("elif logic3")
else:
    print("final else block")

elif logic1

In [16]:
# chain1 run only one block 
if False:
    print("True_block")
elif False:
    print("elif logic1")
elif True:
    print("elif logic2")
elif True:
    print("elif logic3")
else:
    print("final else block")

# chain2 run only one block 
if False:
    print("True_block")
elif False:
    print("elif logic1")
elif False:
    print("elif logic2")
elif False:
    print("elif logic3")
else:
    print("final else block")

print("Pakistan")

elif logic2
final else block
Pakistan

# Grading Rule
https://www.infoworld.com/article/3630372/get-started-with-python-type-hints.html

In [17]:
from typing import Union

per : Union[int, float] = 88
grade :Union[str, None] = None

if per >= 80:
    grade = "A+"
elif per >= 70:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 50:
    grade = "C"
elif per >= 40:
    grade = "D"
elif per >= 33:
    grade = "E"
else:
    grade = "Fail"

print(f"Dear Student your percentage is {per} now your calculated grade is:\t {grade}")

Dear Student your percentage is 88 now your calculated grade is:	 A+

In [18]:
a = input("Enter your percentage:\t")
print(type(a))
print(a)

Enter your percentage:	 81

<class 'str'>
81

In [19]:
a = int(input("Enter your percentage:\t"))
print(type(a))
print(a)

Enter your percentage:	 81

<class 'int'>
81

In [22]:
from typing import Union

per : Union[int, float] = int(input("Enter your percentage:\t"))
grade : Union[str, None] = None

if per >= 80:
    grade = "A+"
elif per >= 70:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 50:
    grade = "C"
elif per >= 40:
    grade = "D"
elif per >= 33:
    grade = "E"
else:
    grade = "Fail"

print(f"Dear Student your percentage is {per} now your calculated grade is:\t {grade}")

Enter your percentage:	 78

Dear Student your percentage is 78 now your calculated grade is:	 A

In [23]:
from typing import Union, Optional

per : Union[int, float] = 88
# per : int | float = 88

grade :Optional[str] = None

if per >= 80:
    grade = "A+"
elif per >= 70:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 50:
    grade = "C"
elif per >= 40:
    grade = "D"
elif per >= 33:
    grade = "E"
else:
    grade = "Fail"

# Logical Error

In [24]:
from typing import Union

per : Union[int, float] = int(input("Enter your percentage:\t"))
grade : Union[str, None] = None

if per >= 0:
    grade = "Fail"
elif per >= 33:
    grade = "E"
elif per >= 40:
    grade = "D"
elif per >= 50:
    grade = "C"
elif per >= 60:
    grade = "B"
elif per >= 70:
    grade = "A"
else:
    grade = "A+"

print(f"Dear Student your percentage is {per} now your calculated grade is:\t {grade}")

Enter your percentage:	 99

Dear Student your percentage is 99 now your calculated grade is:	 Fail

In [26]:
from typing import Union

per : Union[int, float] = int(input("Enter your percentage:\t"))
grade : Union[str, None] = None

if per >= 0 and per < 33:
    grade = "Fail"
elif per >= 33 and per < 40:
    grade = "E"
elif per >= 40 and per < 50:
    grade = "D"
elif per >= 50 and per < 60:
    grade = "C"
elif per >= 60 and per <70 :
    grade = "B"
elif per >= 70 and per <80 :
    grade = "A"
elif per >=80 and per <= 100:
    grade = "A+"

print(f"Dear Student your percentage is {per} now your calculated grade is:\t {grade}")

Enter your percentage:	 99

Dear Student your percentage is 99 now your calculated grade is:	 A+

In [30]:
from typing import Union

per : Union[int, float] = float(input("Enter your percentage:\t"))
grade : Union[str, None] = None

if (per >= 0) and (per < 33):
    grade = "Fail"
elif (per >= 33) and (per < 40):
    grade = "E"
elif (per >= 40) and (per < 50):
    grade = "D"
elif (per >= 50) and (per < 60):
    grade = "C"
elif (per >= 60) and (per <70) :
    grade = "B"
elif (per >= 70) and (per <80) :
    grade = "A"
elif (per >=80) and (per <= 100):
    grade = "A+"

print(f"Dear Student your percentage is {per} now your calculated grade is:\t {grade}")

Enter your percentage:	 80.2

Dear Student your percentage is 80.2 now your calculated grade is:	 A+

# student percentages
https://peps.python.org/pep-0484/#type-aliases

In [32]:
from typing import Union
PerType = Union[float, int]

percentages : list[PerType] = [88, 99.9, 50, 51,65,70]

grades : list[str] = []

for per in percentages:
    grade : str = ""

    if (per >= 0) and (per < 33):
        grade = "Fail"
    elif (per >= 33) and (per < 40):
        grade = "E"
    elif (per >= 40) and (per < 50):
        grade = "D"
    elif (per >= 50) and (per < 60):
        grade = "C"
    elif (per >= 60) and (per <70) :
        grade = "B"
    elif (per >= 70) and (per <80) :
        grade = "A"
    elif (per >=80) and (per <= 100):
        grade = "A+"

    grades.append(grade)

print(percentages)
print(grades)

[88, 99.9, 50, 51, 65, 70]
['A+', 'A+', 'C', 'C', 'B', 'A']

In [39]:
names: list[str] = ['Sir Zia']

names.append("Qasim")
names.append("Sir Inam")
print(names)

['Sir Zia', 'Qasim', 'Sir Inam']

In [33]:
zip(percentages, grades) # <zip at 0x10c2c00c0> generator function iteration perform->list, for

In [41]:
list(zip(percentages, grades))

[(88, 'A+'), (99.9, 'A+'), (50, 'C'), (51, 'C'), (65, 'B'), (70, 'A')]

In [44]:
roll_no: list[int] = list(range(len(percentages)))
roll_no

[0, 1, 2, 3, 4, 5]

In [46]:
data_base = list(zip(roll_no,percentages, grades))
data_base

[(0, 88, 'A+'),
 (1, 99.9, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

In [47]:
display(data_base)
sorted(data_base)

[(0, 88, 'A+'),
 (1, 99.9, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

[(0, 88, 'A+'),
 (1, 99.9, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

In [48]:
display(data_base)
sorted(data_base, key=lambda x:x[1])

[(0, 88, 'A+'),
 (1, 99.9, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

[(2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A'),
 (0, 88, 'A+'),
 (1, 99.9, 'A+')]

In [49]:
display(data_base)
sorted(data_base, key=lambda x:x[1], reverse=True)

[(0, 88, 'A+'),
 (1, 99.9, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

[(1, 99.9, 'A+'),
 (0, 88, 'A+'),
 (5, 70, 'A'),
 (4, 65, 'B'),
 (3, 51, 'C'),
 (2, 50, 'C')]

In [50]:
cars : list[str] = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
    if car == 'bmw':
     print(car.upper())
    else:
     print(car.title())

Audi
BMW
Subaru
Toyota

In [54]:
print(car)
car == 'bmw'

toyota

False

In [55]:
car = 'Audi'
car.lower() == 'audi'

True

In [52]:
cars : list[str] = ['audi', 'bmw', 'subaru', 'toyota']

[i.upper() if i=='bmw' else i.title() for i in cars]

['Audi', 'BMW', 'Subaru', 'Toyota']

In [57]:
cars : list[str] = ['audi', 'bmw',"Mehran", 'subaru', 'toyota']

for car in cars: # in = extract element from iterated types 
    if car != 'Mehran':
        print(car.upper())
    else:
        print(car.lower())

AUDI
BMW
mehran
SUBARU
TOYOTA

In [58]:
answer = 17
if answer != 42:
    print("That is not the correct answer. Please try again!")

That is not the correct answer. Please try again!

In [59]:
cars : list[str] = ['audi', 'bmw',"Mehran", 'subaru', 'toyota']

'changan' in cars

False

In [60]:
cars : list[str] = ['audi', 'bmw',"Mehran", 'subaru', 'toyota']

'bmw' in cars # True

True

In [62]:
banned_users : list[str] = ['andrew', 'carolina', 'david']
user : str = 'marie'

print(user not in banned_users)

if user not in banned_users:
    print(f"{user.title()}, you can post a response if you wish.")

True
Marie, you can post a response if you wish.

In [63]:
age: int = 17
if age >= 18:
    print("You are old enough to vote!") 
    print("Have you registered to vote yet?")
else:
    print("Sorry, you are too young to vote.")
    print("Please register to vote as soon as you turn 18!")

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18!

In [64]:
age = 12
if age < 4:
    print("Your admission cost is $0.")
elif age < 18:
    print("Your admission cost is $25.")
else:
      print("Your admission cost is $40.")

Your admission cost is $25.

In [65]:
requested_toppings : list[str] = ['mushrooms', 'extra cheese']

if 'mushrooms' in requested_toppings:
      print("Adding mushrooms.")
    
if 'pepperoni' in requested_toppings: 
    print("Adding pepperoni.")
    
if 'extra cheese' in requested_toppings:
    print("Adding extra cheese.")
    
print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [66]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']
for requested_topping in requested_toppings:
    if requested_topping == 'green peppers':
        print("Sorry, we are out of green peppers right now.")
    else:
        print(f"Adding {requested_topping}.")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we are out of green peppers right now.
Adding extra cheese.

Finished making your pizza!

In [67]:
requested_toppings = []

if requested_toppings:
    for requested_topping in requested_toppings:
        print(f"Adding {requested_topping}.")
    print("\nFinished making your pizza!")
else:
    print("Are you sure you want a plain pizza?")

Are you sure you want a plain pizza?

In [68]:
available_toppings:list[str] = ['mushrooms', 'olives', 'green peppers',
                        'pepperoni', 'pineapple', 'extra cheese']

requested_toppings:list[str] = ['mushrooms', 'french fries', 'extra cheese'] # user input

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print(f"Adding {requested_topping}.")
    else:
        print(f"Sorry, we don't have {requested_topping}.")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.

Finished making your pizza!

In [69]:
input("Enter ',' seprated value for topping").split(",")

Enter ',' seprated value for topping abc,xyz, pakistan, 123

['abc', 'xyz', ' pakistan', ' 123']

In [72]:
user_name : str = input("Enter user id: \t")
user_passwrod : str = input("Enter password:\t")


if user_name == 'admin' and user_passwrod == 'admin':
    print("sent otp on you registered number")
    otp : str = input("Please inter otp")
    if otp == '123':
        print("Welcom PIAIC")
else:
    print("Invalid user or password")

Enter user id: 	 admin
Enter password:	 admin

sent otp on you registered number

Please inter otp 123

Welcom PIAIC

### Chapter 5 Excersices:

##### Q:5.1

In [1]:
car = "Toyota Carolla"
print("Is car == 'Carolla'? I predict True")
print(car == 'Toyota Carolla')

print("\nIs car == 'audi'? I predict False")
print(car == 'audi')

Is car == 'Carolla'? I predict True
True

Is car == 'audi'? I predict False
False

In [3]:
x = 10
y = 15

print("x > y? I predict False")
print(x > y)

print("y > x? I pridict True")
print(y > x)

x > y? I predict False
False
y > x? I pridict True
True

In [8]:
string1: str = "Hello"
string2: str = "hello"

print("Test 1 - Equality with strings")
print(string1 == "Hello")

print("\nTest 2 - Inequality with strings")
print(string1 != "hello")

print("\nTest 3 - Equality with strings")
print(string2 == "hello")

print("\nTest 3 - Inequality with strings")
print(string2 != "Hello")

Test 1 - Equality with strings
True

Test 2 - Inequality with strings
True

Test 3 - Equality with strings
True

Test 3 - Inequality with strings
True

In [11]:
string3: str = "Python"

print("Test 5 - Equality with lower() method")
print(string3.lower() == "python")

print("\nTest 6 - Inequality with lower() method")
print(string3.lower() != "python")

Test 5 - Equality with lower() method
True

Test 6 - Inequality with lower() method
False

In [12]:
num1: int = 10
num2: int = 20
num3: int = 10

print("Test 7 - Equality: ", num1 == num3)  # True
print("Test 8 - Inequality: ", num1 != num2)  # True
print("Test 9 - Greater than: ", num2 > num1)  # True
print("Test 10 - Less than: ", num1 < num2)  # True
print("Test 11 - Greater than or equal to: ", num1 >= num3)  # True
print("Test 12 - Less than or equal to: ", num2 <= num1)  # False

Test 7 - Equality:  True
Test 8 - Inequality:  True
Test 9 - Greater than:  True
Test 10 - Less than:  True
Test 11 - Greater than or equal to:  True
Test 12 - Less than or equal to:  False

In [13]:
print("Test 13 - Using and keyword (both conditions True): ", num1 == 10 and num2 == 20)  # True
print("Test 14 - Using and keyword (one condition False): ", num1 == 10 and num2 == 10)  # False
print("Test 15 - Using or keyword (one condition True): ", num1 == 10 or num2 == 10)  # True
print("Test 16 - Using or keyword (both conditions False): ", num1 == 5 or num2 == 15)  # False

Test 13 - Using and keyword (both conditions True):  True
Test 14 - Using and keyword (one condition False):  False
Test 15 - Using or keyword (one condition True):  True
Test 16 - Using or keyword (both conditions False):  False

In [15]:
my_list: list[int] = [1, 2, 3, 4, 5]
print("Test 17 - Item is in list: ", 2 in my_list)  # True
print("Test 18 - Item is not in list: ", 10 in my_list)  # False

Test 17 - Item is in list:  True
Test 18 - Item is not in list:  False

In [17]:
print("Test 19 - Item is not in list: ", 6 not in my_list)  # True
print("Test 20 - Item is not in list: ", 10 not in my_list)  # True

Test 19 - Item is not in list:  True
Test 20 - Item is in list:  True

In [16]:
print("Test 19 - Item is in list: ", 1 not in my_list)  # False
print("Test 20 - Item is in list: ", 2 not in my_list)  # False

Test 19 - Item is not in list:  False
Test 20 - Item is in list:  False

In [18]:
age = 12
if age < 4:
 price = 0
elif age < 18:
 price = 25
else:
    price = 40
print(f"Your admission cost is ${price}.")

Your admission cost is $25.

#### 5-4

In [19]:
color: str = "green"

if color == "green":
    print("You just earned 5 points")
else:
    print("No Out Put")

You just earned 5 points

In [21]:
color: str = "green"

if color == "red":
    print("You just earned 5 points")
else:
    print("No OutPut")

No OutPut

#### 5-5.

In [24]:
alien_color1: str = 'green'

# If-elif-else chain to determine the player's points
if alien_color1 == 'green':
    print("You just earned 5 points!")
elif alien_color1 == 'yellow':
    print("You just earned 10 points!")
else:  # This handles the case where alien_color is 'red'
    print("You just earned 15 points!")

You just earned 5 points!

In [23]:
alien_color2: str = 'yellow'

# If-elif-else chain to determine the player's points
if alien_color2 == 'green':
    print("You just earned 5 points!")
elif alien_color2 == 'yellow':
    print("You just earned 10 points!")
else:  # This handles the case where alien_color is 'red'
    print("You just earned 15 points!")

You just earned 10 points!

In [22]:
alien_color3: str = 'red'

# If-elif-else chain to determine the player's points
if alien_color3 == 'green':
    print("You just earned 5 points!")
elif alien_color3 == 'yellow':
    print("You just earned 10 points!")
elif alien_color3 == "red":  # This handles the case where alien_color is 'red'
    print("You just earned 15 points!")
else:
    print("No Points")

You just earned 15 points!

#### 5-6.

In [3]:
person_age: int = 18

if person_age < 2 and person_age > 4:
    print("This is baby")
elif person_age >= 2 and person_age <= 4:
    print("This is toddler")
elif person_age >= 4 and person_age <= 13:
    print("This is Kid")
elif person_age >= 13 and person_age <= 20:
    print("This teenager")
elif person_age >= 20 and person_age <= 65:
    print("This is Adult")
else:
    print("Old Man")

This teenager

In [8]:
my_fruites_list: list[str] = ["Apple", "Mango", "Banana"]

if "Apple" in my_fruites_list:
    print("Apple Available")

if "Mango" in my_fruites_list:
    print("Mango Available")

if "Banana" in my_fruites_list:
    print("Banana Available")

if "Orange" in my_fruites_list:
    print(f"Orange is Available")
else:
    print(f"Orange is not Available in my {my_fruites_list}")

if "Strawberry" in my_fruites_list:
    print(f"Strawberry is Available")
else:
    print(f"Strawberry is not Available my {sorted(my_fruites_list)}")

Apple Available
Mango Available
Banana Available
Orange is not Available in my ['Apple', 'Mango', 'Banana']
Strawberry is not Available my ['Apple', 'Banana', 'Mango']

In [34]:
usernames: list[str] = ['admin', 'jaden', 'emily', 'sarah', 'michael']

name: str = input("Enter your username: ")

for person_name in usernames:
    if name == person_name:
        if name == "admin":
            print("Hello Admin, How Are You Today!")
            break
        else:
            print(f"Welcome Again {name.capitalize()}!")
            break
else:
    print("No user Found!")

No user Found!

In [51]:
list_of_users: list = [] 

input_user_names = input("Enter Name: ")

if not list_of_users:
    print("We need to find some users!")
else:
    for list_of_user_names in list_of_users:
        if input_user_names == list_of_user_names:
            if list_of_user_names == "admin":
                print("Hello Admin How Are You Today!")
            else:
                print(f"Welcome back {list_of_user_names}")

We need to find some users!

In [52]:
# Step 1: Define the current and new users
current_users = ['admin', 'jaden', 'emily', 'sarah', 'michael']
new_users = ['JADEN', 'sarah', 'John', 'paul', 'Anna']

# Step 2: Convert current_users to lowercase for case-insensitive comparison
current_users_lower = [user.lower() for user in current_users]

# Step 3: Loop through new_users and check availability
for new_user in new_users:
    if new_user.lower() in current_users_lower:
        print(f"Sorry, the username '{new_user}' is already taken. Please choose a different username.")
    else:
        print(f"The username '{new_user}' is available.")

Sorry, the username 'JADEN' is already taken. Please choose a different username.
Sorry, the username 'sarah' is already taken. Please choose a different username.
The username 'John' is available.
The username 'paul' is available.
The username 'Anna' is available.

In [53]:
# Step 1: Store the numbers 1 through 9 in a list
numbers = list(range(1, 10))

# Step 2: Loop through the list
for number in numbers:
    # Step 3: Use if-elif-else to determine the ordinal ending
    if number == 1:
        print(f"{number}st")
    elif number == 2:
        print(f"{number}nd")
    elif number == 3:
        print(f"{number}rd")
    else:
        print(f"{number}th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th

In [55]:
current_users = ['admin', 'jaden', 'emily', 'sarah', 'michael']
new_users = ['JADEN', 'sarah', 'John', 'paul', 'Anna']

current_users_lower = [user.lower() for user in current_users]

for new_user in new_users:
    if new_user.lower() in current_users_lower:
        print(f"Sorry, the username '{new_user}' is already taken. Please choose a different username.")
    else:
        print(f"The username '{new_user}' is available.")
        
        
# List of existing users
current_users = ['admin', 'jaden', 'emily', 'sarah', 'michael']
new_users = ['JADEN', 'sarah', 'John', 'paul', 'Anna']

# Convert all current users to lowercase for case-insensitive comparison
current_users_lower = [user.lower() for user in current_users]

# Check availability of new usernames
for new_user in new_users:
    new_user_lower = new_user.lower()
    
    if new_user_lower in current_users_lower:
        print(f"Sorry, the username '{new_user}' is already taken. Please choose a different username.")
    else:
        print(f"The username '{new_user}' is available.")

Sorry, the username 'JADEN' is already taken. Please choose a different username.
Sorry, the username 'sarah' is already taken. Please choose a different username.
The username 'John' is available.
The username 'paul' is available.
The username 'Anna' is available.
Sorry, the username 'JADEN' is already taken. Please choose a different username.
Sorry, the username 'sarah' is already taken. Please choose a different username.
The username 'John' is available.
The username 'paul' is available.
The username 'Anna' is available.

In [4]:
input("Enter ',' seprated value for topping").split(",")

['welcome', 'user', 'how', 'are', 'you', 'today?']

#### 5-13 Will Complete At the end because it says to complete the python projects

## Chapter 5 Completed